**/.DS_Store
**/.git/
**/.vscode/
**/.tmp/
**/node_modules/
**/dist/
**/typescript/
**/.astro/
**/.vscode
**/.env
**/.env.*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.swp
**/*.swo
**/*.log
**/*.orig
**/.eslintcache
**/.npmrc
**/Dockerfile*
/README.md
