# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vscode
*.vs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Foundry
cache/
out/

# Hardhat files
cache_hardhat/
artifacts/

# Hardhat plugin files
typechain-types/

# Hardhat temporary
.openzeppelin/
broadcast/

# Visual Studio Code
.vscode/
*.code-workspace

# Dotenv file
.env

# macOS
.DS_Store

# Other
*.log
*.swp
Thumbs.db
.dccache
.dcignore
*.code-workspace
.make.functions.sh
typescript/
