# .NET Core / Backend
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vs/
/*.sln

# Node.js / Bun / Astro / Frontend / JS / TypeScript
node_modules/
npm-debug.log
yarn-error.log
typescript/
.eslintcache
.npmrc

# Foundry
contracts/cache/
contracts/out/

# Hardhat files
cache_hardhat/
artifacts/

# Hardhat plugin files
typechain-types/

# Hardhat temporary
.openzeppelin/
broadcast/

# Visual Studio Code
*.vscode/*.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/tasks.json
*.code-workspace

# Dotenv file
.env
.env.*
!.env.example

# macOS
.DS_Store

# Volumes
/vol

# Other
*.log
*.swp
*.orig
Thumbs.db
.dccache
.dcignore
.make.functions.sh
.cache-loader
.idea/*
junit.xml
