# .NET Core
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vs/

# Node.js / Bun / JS / TypeScript
node_modules/
npm-debug.log
yarn-error.log
typescript/
.eslintcache
.npmrc

# Foundry
cache/
out/

# Hardhat files
cache_hardhat/
artifacts/

# Hardhat plugin files
typechain-types/

# Hardhat temporary
.openzeppelin/
broadcast/

# Visual Studio Code
*.vscode/*.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Dotenv file
.env
.env.production

# macOS
.DS_Store

# Volumes
/vol

# Other
*.log
*.swp
*.orig
Thumbs.db
.dccache
.dcignore
*.code-workspace
.make.functions.sh
.cache-loader
.idea/*
junit.xml
